.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
    min-height: 200px;
}
.container .error-message {
    margin-top: 5rem;
    color: red;
}